.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/image1.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/image2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../img/lights.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  background: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#main-footer {
  background-color: #111;
  color: #fff;
}

/* About section */
#about-header-section {
  background: url('../img/image2.jpg');
  background-attachment: fixed;
  height: 250px;
  padding-top: 80px;
  background-position: 0 -360px;
}

.about-img {
  margin-top: -100px;
  width: 600px;
  height: 600px;
}